*{
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    color: #242728;
    line-height: 22px;
}
#top{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}
.gnb li{
    float: left;
}
.gnb li a{
    padding: 10px 20px;
    color: rgb(125,125,125);
}
.gnb li a:hover,.on{
    border-bottom: 3px solid #f37339;
}
/* contenst */
#contents_wrap{
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.hh{
    text-align: center;
    padding-top: 100px;
    color: #f37339;
}
.hh2{
    text-align: center;
    padding-top: 80px;
    color: #fff;
}
.special{
    padding-top: 20px;
    width: 30px;
    margin: 0 auto;
    border-bottom: 3px solid #f37339;
}
.special2{
    padding-top: 20px;
    width: 25px;
    border-bottom: 3px solid #f37339;
}
.specia3{
    padding-top: 20px;
    width: 30px;
    margin: 0 auto;
    border-bottom: 3px solid #fff;
}
.contents{
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.pp{
    font-size: 15px;
    font-weight: 700;
    padding: 50px 0 20px 0;
}
.pp2{
    font-weight: 500;
    padding-bottom: 40px;
}
/* contaner */
#contaner_wrap{
    height: 500px;
    background-color: #f37339;
}
.contaner{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.gnb2 li{
    float: left;
    width: 23%;
    margin-right: 2%;
}
.gnb2 li :nth-child(4){
    margin-right: 0%;
}
.gnb2 li :nth-child(8){
    margin-right: 0%;
}
.gnb2 li a{
    display: block;
}
/* contaner2 */
#contaner2_wrap{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.contaner_box{
    padding: 20px 0;
}
.text{
    color: #f37339;
    font-size: 15px;
    padding-bottom: 20px;
}
.ff{
    padding-top: 50px;
}
#maps_wrap{
    padding: 50px;
    text-align: center;
}